[submodule "vendor/github.com/mattn/go-sqlite3"]
	path = vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3.git
[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors.git
[submodule "vendor/github.com/karrick/godirwalk"]
	path = vendor/github.com/karrick/godirwalk
	url = https://github.com/karrick/godirwalk.git
[submodule "github.com/mattn/go-sqlite3"]
	path = github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3.git
